* text=auto

*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.md text eol=lf
*.txt text eol=lf
*.ini text eol=lf
*.qss text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.ps1 text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary